:root {
    --photograph-gutter: 5px;
    --accent: #d6336c;
    --accent-dark: #c2255c;
    box-sizing: border-box;
    font-family: 'Comic Sans MS', 'Comic Sans', 'Comic Neue', cursive;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.toolbar {
    position: fixed;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 99;
    display: flex;
    gap: 10px;
    
    > button, .tools {
        background-color: #ffffff;
        box-shadow: 0px 0px .9310142993927002px 0px rgba(0, 0, 0, .17), 0px 0px 3.1270833015441895px 0px rgba(0, 0, 0, .08), 0px 7px 14px 0px rgba(0, 0, 0, .05);
    }

    button {
        border: none;
        outline: none;
        padding: 15px;
        font-size: inherit;
        font-family: inherit;
        cursor: pointer;
        line-height: 1;
        border-radius: 6px;
        margin: 4px;
        transition: transform 200ms;
        user-select: none;
    }

    .tools {
        border-radius: 10px;
        display: flex;

        button {
            border-radius: 6px;
            background: transparent;

            &:hover {
                background-color: #f2f2f2;
            }

            &:active {
                transform: scale(0.9);
            }

            &.active {
                background-color: var(--accent);
                color: #ffffff;
            }
        }
    }

    > button {
        background-color: var(--accent);
        color: #ffffff;

        &:hover {
            background-color: var(--accent-dark);
            transform: scale(1.05);
        }

        &:active {
            transform: scale(0.98);
        }
    }
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
    overflow: hidden;

    svg {
        width: 100%;
        height: 100%;
        overflow: visible;
    }
}

.photograph-left {
    position: fixed;
    left: var(--photograph-gutter);
    top: var(--photograph-gutter);
    bottom: var(--photograph-gutter);
    width: 200px;
    z-index: 999;
}

.photograph-right {
    position: fixed;
    right: var(--photograph-gutter);
    top: var(--photograph-gutter);
    bottom: var(--photograph-gutter);
    width: 200px;
    z-index: 999;
}